<html>
	<head>
		<title>ajouter une catégorie</title>
		<link rel="stylesheet" th:href="@{../webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
	</head>
	<body>
		<div class="container">
			<ul class="nav">
													           <li class="nav-item"><a class="nav-link" href="/">Liste des livres</a></li>
													           <li class="nav-item"><a class="nav-link" href="/abon/ajout">Ajouter un nouvel abonné</a></li>
													           <li class="nav-item"><a class="nav-link" href="/emp/ajout">Ajouter un nouvel emprunt </a></li>
													           <li class="nav-item"><a class="nav-link" href="/emp/">Liste des emprunts</a></li>
													           <li class="nav-item"><a class="nav-link" href="/emp/det">Détails emprunt</a></li>
													           <li class="nav-item"><a class="nav-link" href="">Un autre lien</a></li>
													       </ul>
			<h1 class="h1">Ajouter un nouvel abonné</h1>
		<form action="/abon/save" method="post" th:object="${newAbonne}">
			Nom: <input type="text" name="nom" class="form-control" th:field="*{nom}" />
			Prenom: <input type="text" name="prenom" class="form-control" th:field="*{prenom}" />
			Email: <input type="text" name="email" class="form-control" th:field="*{email}" />
			Tel: <input type="tel" name="tel" class="form-control" th:field="*{tel}" />

			<input type="submit" value="Save" class="btn btn-primary" />
		</form>
		</div>
	</body>
	
</html>